body{
    display: flex;
    justify-content: center;
}

.container{
    width: 75vw;
    display: flex;
    background-color: #bc8f8f25;
    border-radius: 25px;
    flex-wrap: wrap;
    margin-top: 150px;
}

.card-container,
.card-infos{
    flex: 1;
}

.card-container{
    display: flex;
    justify-content: center;
}

.card-infos{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.card-infos{
    padding: 50px 0px;
}

.card{
    width: 335px;
    height: 220px;
    margin-top: 25px;
    border-radius: 15px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 15px;
}

.card .infos{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.name,
.number,
.date-security,
.button{
    margin-top: 25px;
}

input{
    width:100%;
    padding: 10px 0px;
    border-radius: 10px;
    border: 1px solid black;
    display: block;
    margin: 5px 0px;
}

.date-security{
    display: flex;
}

.date,
.code{
    flex: 1;
}

.mm-yy{
    display: flex;
}

.date-security input{
    margin: 5px;
}

.button{
    text-align: center;
}

button{
    padding: 7px 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

@media (max-width: 895px) {
    .container{
        width: 100vw;
    }

    .card{
        margin-top: 20px;
    }
}

@media (max-width: 700px) {
    .container{
        flex-direction: column;
        margin-top: 15px;
    }
}

@media (max-width: 350px) {
    label{
        font-size: 12px;
    }
}
